<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>V-model</title>
</head>
<body><!-- 

  2 - Crie um formulário com, nome, email, telefone e mensagem.
  Ao clicar em enviar, as informações preenchidas no formulário
  devem aparecer abaixo do mesmo. (previna o comportamento padrão do botão enviar)
 -->

  <div id="app">
   <form action="">
     <label for="nome">Nome</label>
     <input type="text" name="nome" id="nome" v-model="nome">
     <label for="email">Email</label>
     <input type="text" name="email" id="email" v-model="email">
     <label for="telefone">Telefone</label>
     <input type="text" name="telefone" id="telefone" v-model="telefone">
     <label for="mensagem">Mensagem</label>
     <textarea name="mensagem" id="mensagem" v-model="mensagem"></textarea>
     <input @click.prevent="enviarFormulario" type="submit">
   </form>
   <div>
     <ul>
       <li v-for="(valor, chave) in resultado">
         {{chave}}: {{valor}}
       </li>
     </ul>
   </div>
  </div>

  <script>

    const vm = new Vue({ 
      el: "#app",
      data: { 
       nome:"",
       email:"",
       telefone:"",
       mensagem:"",
       resultado: {}
      },
      methods: {
        enviarFormulario() {
          this.resultado = {
            nome: this.nome,
            email: this.email,
            telefone: this.telefone,
            mensagem: this.mensagem
          }
        }
      }
    });
  </script>

 
</body>
</html>