<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>V-FOR</title>
</head>
<body>
  <div id="app">
    <li v-for="(fruta,index) in frutas">{{fruta}} {{index}}</li>
    <li v-for="({nome, populacao}, key) in estados" :key="key + nome">
      {{nome}}
      {{populacao}}
    </li>
    <li v-for="item in lista">{{item}}</li>
    <button @click="removerItem">remover</button>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        frutas: ["Banana", "Uva", "Laranja"],
        estados: {
          sp: {
            populacao: "45 milhões",
            nome: "São Paulo"
          },
          mg: {
            populacao: "21 milhões",
            nome: "Minas Gerais"
          },
          rj: {
            populacao: "17 milhões",
            nome: "Rio de Janeiro"
          }
        },
        lista: ["item 1","item 2","item 3"]
      },
      methods: {
        removerItem() {
          this.lista.pop()
        }
      }
})
  </script>
</body>
</html>